$turquoise: #1ABC9C;
$green-sea: #7bc1b3;
$emerald: #59baa7;
$nephritis: #48d5a2;

// Blues
$peter-river: #3498DB;
$belize-hole: #2980B9;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

// Purples
$amethyst: #9B59B6;
$wisteria: #c471e7;

// Yellows
$sunflower: #F1C40F;

// Oranges
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #e68d53;

// Reds
$alizarin: #ec7063;
$pomegranate: #e7938a;

// Grays
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
